*.py[cod]
*.so

# Packaging
/dist
/build
*.egg
*.egg-info

# Vagrant
/vagrant/.vagrant*
/vagrant/shares/httpd_conf.d/README
/vagrant/shares/httpd_conf.d/welcome.conf
/vagrant/shares/httpd_conf.d/wsgi.conf.rpmnew

vagrant/shares/instance/dav_prc_instance/data/config.sqlite
vagrant/shares/instance/dav_prc_instance/logs/eoxserver.log
